@model Marca

@{
    ViewData["Title"] = "Editar Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center  bg-success text-white">
    <div class="card-header">
        <strong>Modifique la informacion de la Marca</strong>
    </div>
</div>
    

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" value="@Model.Id" hidden/>

            <div class="form-group  m-2">
                
                <input asp-for="Name" value="@Model.Name" class="form-control" placeholder="Nombre de la Marca" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group m-2" >
                
                <input asp-for="Descripcion" value="@Model.Descripcion" class="form-control" placeholder="Descripcion"/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group m-2" >
                <input type="submit" value="Guardar" class="btn btn-warning col-12" />
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
    <a class="btn btn-warning col-12 mt-2" asp-action="Index">Regresar al listado</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
